body {
  padding-top: 50px;
}

.index form {
    /* Sólo para centrar el formulario a la página */
    margin: 0 50px;
    width: 550px;
    /* Para ver el borde del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
	background: #F2E0F7;
}

.index div { 
	margin-top: 1em; 
}

.index label {
	/* Para asegurarse que todos los labels tienen el mismo tamaño y están alineados correctamente */
	display: inline-block;
	width: 130px;
	text-align: right;
	font-weight: bold;
}  

.index input:focus {
	/* Para dar un pequeño destaque en elementos activos*/
	border-color: #000;
}

.index input {border: 1px solid #999;}	

.index .boton { 
	width: 70px;
	height: 25px;
	display: inline-block;
}

#botonAcceso {
	margin-left: 60px;
	margin-right: 5px;
}

.index h1, h3 {
	margin-left: 50px;
}
	 
/* Declaración de estilo para cuando se produce un error de validación en el formulario */
.index .error {
	display: inline; 
	width:300px; 
	color: red; 
	font-weight: bold;
}

.container{
	text-align: center;
	margin: 0 auto;
	font-weight: 300;
	margin-top: 30px;
}

.container h3 {
	font-weight: normal;
	color: red;
	text-decoration: underline;
}

.containerFav table tr {
	text-align: left;
}

.containerFav table button {
	margin-bottom: 10%;
}

.resultadoFav {
	width: 500px;
	margin-left: 5%;
}

.containerBusq p {
	margin-top: 3%;
}

.containerBusq table tr {
	text-align: left;
}

.containerBusq table img {
	margin-top: 10%;
}

.resultadoBusq {
	width: 500px;
	margin-left: 5%;
}

#navegacion{
	margin-top: 5%;
	margin-bottom: 2%;
	width: 33%;
	font-weight: bold;
	text-align: left;
	border: 1;
	margin: auto;
}

img {
	border: 2px solid black;
	border-radius: 20px;
	opacity: 0.8;
	transition: 0.25s ease-in-out;
	height: 370px;
	width: 250px;
}

img:hover{
	opacity: 1;
}

button {
	cursor: pointer;
	transition: 0.25s ease-in-out;
	width: 300px;
	height: 50px;
	font-size: 20px;
	color: white;
	background-color: gray;
	border-radius: 20px;
	outline: none;
}
.pagina {
	margin-bottom: 100px;
}

.fav {
	cursor: pointer;
	transition: 0.25s ease-in-out;
	width: 150px;
	height: 30px;
	font-size: 15px;
	color: white;
	background-color: gray;
	border-radius: 20px;
	outline: none;
	margin-top: 15px;
	margin-bottom: 15px;
}

#salir{
	float: right;
}

table{
	margin-left: -1%;
}

.btnDescripcion{
	margin-bottom: 25%;
}

#desc{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: left;
}

#desc img{
	margin-bottom: 60px;
}

#desc p{
	margin-bottom: 25px;
}

#divBuscar{
	margin-top: 20px;
	margin-bottom: 50px;
}

#botonBuscar{
	cursor: pointer;
	transition: 0.25s ease-in-out;
	width: 130px;
	height: 30px;
	font-size: 14px;
	color: white;
	background-color: gray;
	border-radius: 20px;
	outline: none;
	margin-top: 15px;
	margin-bottom: 15px;
}

#botonBuscar:hover, .fav:hover, button:hover{
	background-color: purple;
}

#buscar{
	width: 50%;
	height: 27px;
}

.ocultos{
	visibility: hidden;	
}

.numeroResultados{
	font-size: 20px;
	font-weight: bold;
	float: left;
	padding-left: 0.4%;
}
